<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Textes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>

<!-- menu -->
<div th:insert="menu :: sidenav"></div>

<!-- page -->
<div class="main">

    <input type="hidden" id="hiddenNom" th:value="${nom}" />
    <input type="hidden" id="hiddenPage" value="" />

    <input type="hidden" th:each="commentaire, iter : ${commentaires}" th:id="@{|commentaire${iter.count}|}" th:value="${commentaire}" />

    <br/>

    <span th:each="decoupe, iter : ${decoupes}">
        <a class="aDecoupes" th:text="${iter.count}" th:id="@{|aDecoupe${iter.count}|}" th:onclick="@{|showDecoupe(${iter.count});|}" style="cursor:pointer;"></a>
        <span th:text="${iter.last}? '' : ' - '"></span>
    </span>

    <br/>

    <button id="open-mots" class="btn btn-primary">Mots</button>

    <br/>
    <br/>
    <div class="divDecoupes" th:each="decoupe, iter : ${decoupes}" th:id="@{|divDecoupe${iter.count}|}" style="display:none;">
        <div th:each="paragraphe, iteration : ${decoupe}" th:id="@{|paragraphe${iteration.count}|}" class="paragraphe" style="width:40em;">
            <span th:text="${#strings.isEmpty(paragraphe)}? '&nbsp;' : ${paragraphe}"></span>
        </div>
    </div>

    <br/>
    <br/>
    <div class="divMotsDecoupes" th:each="motsDecoupe, iter : ${mots}" th:id="@{|divMotsDecoupes${iter.count}|}" style="display:none;">
        <div th:each="motDecoupe, iteration : ${motsDecoupe}">
            <!--<span th:text="${motDecoupe.key}"></span>-->
            <!--<span th:text="${motDecoupe.value}"></span>-->
        </div>
    </div>

    <div id="dialog-textarea" title="">
        <form>
            <fieldset>
                <textarea id="commentaire" cols="100" rows="8"></textarea>
                <input typ="button" id="submit-commentaire" class="btn btn-success" value="Enregistrer" />
                <input typ="button" id="ferme-commentaire" class="btn btn-danger" value="Fermer" />
            </fieldset>
        </form>
    </div>

    <div id="dialog" title="Basic dialog">
        <p>This is an animated dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
    function showDecoupe(page) {
        $('#hiddenPage').val(page);

        $('.aDecoupes').css('color', 'black');
        $('#aDecoupe'+page).css('color', 'blue');

        $('.divDecoupes').css('display', 'none');
        $('#divDecoupe'+page).css('display', 'block');

        $('.divMotsDecoupes').css('display', 'none');
        $('#divMotsDecoupes'+page).css('display', 'block');
    }

    $( function() {

        dialog = $( "#dialog-textarea" ).dialog({
          autoOpen: false,
          height: 400,
          width: 800,
          modal: true,
          open: function( event, ui ) {
            var page = $("#hiddenPage").val();
            $("#commentaire").val($("#commentaire"+page).val());
          }
        });

        $( "#submit-commentaire" ).on( "click", function() {
            var data = {};
            data["nom"] = $("#hiddenNom").val();
            data["page"] = $("#hiddenPage").val();
            data["commentaire"] = $("#commentaire").val();

            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/saveCommentaire",
                data: JSON.stringify(data),
                dataType: 'json',
                cache: false,
                timeout: 600000,
                success: function (data) {
                },
                error: function (e) {
                }
            });

            $( "#dialog-textarea" ).dialog( "close" );
        });

        $( "#ferme-commentaire" ).on( "click", function() {
            $( "#dialog-textarea" ).dialog( "close" );
        });

        $( ".paragraphe" ).on( "click", function() {
            $( "#dialog-textarea" ).dialog( "open" );
        });


        $( "#dialog" ).dialog({
            autoOpen: false,
            show: {
            },
            hide: {
            }
        });

        $( "#open-mots" ).on( "click", function() {
            $( "#dialog" ).dialog( "open" );
        });
    });
</script>
</body>
</html>